.advert {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    max-height: 80%;
}

.bottomMenu {
    margin-top: 3em;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.listProducts {

    display: flex;
    align-items: center;
    gap: 16px;


}

.iconsProd {
    background: inherit;


}

.listcolors {
    display: flex;
    align-items: center;
    gap: 20px;


}

.btn__changeColor {

    border: 1px solid;
    border-radius: 20px;
    opacity: 0.68;
    cursor: pointer;
    width: min(131px, 12vw);
    aspect-ratio: 18/9;
}

.btn__arrow {
    cursor: pointer;
}

.btn__changeColor:hover,
.btn__arrow:hover {
    scale: 1.2;
}

@media screen and (max-width: 800px) {
    .advert {
        flex-direction: column-reverse;
        width: 100%;
        gap: 20px;



    }

    ._canvas_n7ims_1 {
        width: 100%;
        flex-grow: 0;
    }
}